/* Style for meme */
.memImage{
    border: 3px solid black;
    border-radius: 15px;
    width: 100%;
    margin: 30px 15px 30px 0px;
}
/* Style for the entire card */
.aboutMeCard{
    margin: 50px auto 50px 30px;
    border: 0;
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    color: white;
}
/* Above there are styles for individual components of card */
.aboutMeCardHeader{
    text-align: right;
    background-color: var(--main-bg-color); /* Without this, card header have black background instead of main background color */
    border: 0;
    color: var(--main-color);
}
.aboutMeCardTitle{
    margin: 15px auto auto 30px;
}

