.contactDiv{
    background-color: rgb(24 25 26);
    color: seashell;
    padding: 1% 0 0 0;
    text-align: center;
}
a{
    color: black;
    background: linear-gradient(0deg,  #fff,rgb(192, 192, 192));
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(228, 227, 227, 0.5);
}
a:hover{
    transform: scale(0.9, 0.9); 
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(180, 180, 180, 0.3);
}
.circleForIcons{
    background: linear-gradient(0deg,rgb(192, 192, 192), #fff);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 3px; 
}
.icon{
    width: 50%;
    height: 50%;
}