/* Styles in general for card about challenges */
.cardAboutChallenges{
    margin: 1rem;
}
/* Styles for top of the card about challenges */
.titleCardAboutChallenges{
    color: rgba(172, 255, 47, 0.548);
    font-family: var(--main-font);
    background-color: var(--main-bg-color);
    padding: 1em;
}
/* Styles for down of the card about challenges */
.websitesCardAboutChallenges{
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    padding: 0;
    color: rgb(255, 255, 255);
}