/* Styles for div inside which are including all certificates from chosen type */
.placeForCertificates{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0.2rem 0;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}
/* Header inside above div */
.title-certificates{
    color: var(--main-color);
    padding: 1rem 1rem 0 1rem;
}
/* Button for each certificate */
.btn-confirm-cert{
    display: inline;
    margin: 0;
}
/* Description for each certificates */
.p-cert{
    display: inline;
    padding: 0 1rem 0 0;
}
/* Gruop items: btn-confirm-cert + p-cert */
.certificate-div{
    display: inline;
    color: rgb(255, 255, 255);
}