/* ==================== */
/* For entire component */
/* ==================== */
.projectsDiv{
    font-family: var(--main-font);
}
/* Component header */
.projectsHeader{
    color: var(--main-color);
    text-align: center;
}
.project-comment{
    color: rgb(255, 255, 255);
    text-align: center;
}
/* ============== */
/* Switch Buttons */
/* ============== */
.switchButtons{
    position: relative;
    rotate: 90;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}
.switchButton{
    background-color: var(--main-color);
    border: var(--main-color);
    color: rgb(255, 255, 255);
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 5px 5px 0 0 ;
    margin: 0.5em 0em 0em 0.5em;

}
.switchButtonActive{
    background-color: var(--second-color);
    color: rgb(255, 255, 255);
}
.switchButton:hover{
    background-color: var(--second-color);
    color: rgb(255, 255, 255);
}

