 /* All style variables for website - there is no more */
 :root{
    --main-bg-color: rgb(19, 26, 20); /* For background, navbar and title cards in hardskills */
    --second-bg-color: rgb(65, 65, 65) ; /* For place for achivements in hardskills  */
    --third-bg-color: grey; /* For hover in certificates card in hardskills and for navbar subtitles */
    --main-color: rgb(24, 70, 6);
    --second-color: rgb(44, 104, 23); /* Hover color for the above */
    --main-font: 'Original Surfer', cursive, sans-serif; /* Font for entire website */
 }
.App{
  background-color: var(--main-bg-color);
}
